.resumeSectionContainer:hover {
    cursor: pointer;
}

.resumeContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid #111111;
    background-color: #f0f0f0;
    height: auto;
    width: 100%;
    padding: auto;
}

#headerSection{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#passwordArea{
    align-items: center;
    width: 100%;
}

.TitleTextArea{
    display: flex;
    text-align: center;
    text-wrap: wrap;
    border: none;
    resize: none;
    padding-top: 0;
    margin-top: 0;
    word-wrap: break-word;
    vertical-align: middle;
    overflow-y: none;
}

